<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="C:\Users\Robin\source\repos\Stim\Stim\bin\x64\Debug\Stim.exe" PdbFullPath="C:\Users\Robin\source\repos\Stim\Stim\bin\x64\Debug\Stim.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Program Files\Altimesh\Hybridizer Essentials\bin\Hybridizer.PTXJitterService.10.0.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;-G;--relocatable-device-code=false;-lineinfo;--std=c++14;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="Stim.Program">
      <HybridizedMethod MethodName="Hello" MethodRename="Stimx46Programx46Hello" ForceEntryPoint="true">
        <ParameterTypes />
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Add" MethodRename="Stimx46Programx46Add" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Single[]</string>
          <string>System.Single[]</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="Stim.Program.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>